{% comment %}
  Basic cart notification snippet
{% endcomment %}

<div class="cart-notification" id="cart-notification">
  <div class="cart-notification__content">
    <p class="cart-notification__message">
      Item added to cart!
    </p>
  </div>
</div>
